*,
*::after,
*::before {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}


.container {
    max-width: 1100px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: 1.5;
    color: #015483;
    background: #B4D4ED;
    
}

header {
    background: #B4D4ED;
    position: relative;

}

header img {
    max-width: 100%;
    height: auto;

}

.header_block {
    /* background-color: #D9EAF6; */

}

.header_block__brand {
    position: absolute;
    top: 2vw;
    left: 3vw;
    font-family: 'Pacifico', cursive;
    font-size: clamp(12px, 4vw, 48px);

}

.header_block__phone {
    position: absolute;
    top: 2vw;
    right: 4vw;
    font-size: clamp(11px, 4vw, 28px);
    text-align: right;

}

.header_slogan {
    padding: 0 3vw 0 3vw;
    font-size: clamp(12px, 4vw, 48px);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: linear-gradient(180deg, #B4D4ED 0%, #D9EAF6 100%);

}

.header_slogan__string_first {
    text-align: left;

}

.header_slogan__string_second {
    text-align: center;

}

.header_slogan__string_third {
    text-align: right;

}

.main {
    background-color: #D9EAF6;

}

.main__block  p {
    text-align: center;
    font-size: clamp(12px, 4vw, 32px);
    padding: clamp(20px, 4vw, 32px);
    padding-top: 5vw;

}

.main__block span {
    color: red;

}

.main__link_rating {
    font-size: clamp(12px, 4vw, 32px);
    text-align: center;
    padding: clamp(10px, 4vw, 30px);

}

.main__link_rating a {
    cursor: pointer;
    color: #015483;

}

.main__link_rating a:hover {
    background-color:  #B4D3EC;
}

.main__flex_container  div {
    /* width: clamp(10rem, 1.7vw + 15rem, 55rem); */
    padding: clamp(12px, 4vw, 28px);
    background-color: #ABCDE8;
    box-shadow: 5px 5px 5px rgba(72, 72, 72, 0.25);
    border-radius: 15px;
    text-align: center;
    font-size: clamp(12px, 4vw, 32px);
    margin-left: 1.75rem;
    margin-right: 1.75rem;


}

.main__flex_container span {
    font-family: 'Pacifico', cursive;
    font-size: clamp(12px, 4vw, 36px);

}

.main__flex_container button {
    margin-top: clamp(12px, 4vw, 32px);
    background-color: #015483;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    border: none;
    font-size: clamp(12px, 4vw, 32px);
}
.main__flex_container button:hover {
    cursor: pointer;
}

.main__flex_container a {
    color: #015483;

}

.main__reasons {
    font-size: clamp(12px, 4vw, 32px);
    line-height: 1.7;
    padding: 3vw 3vw 3vw 7vw;

}

.main__flex_container img {
    background-size: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.license_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.license_container ul {
    display: block;
    flex-direction: column;
    align-items: flex-start;
}

.license_container__price {
    font-size: clamp(12px, 4vw, 32px);
    text-align: center;

}

.license_container__price span {
    font-weight: bold;
    text-decoration: underline;

}

.category_header {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 2vw 3vw 3vw 7vw;
    line-height: 1.7;

}

.car_moto_logo {
    text-align: center;

}

.category_header div {
    font-size: clamp(12px, 4vw, 32px);

}

.category_description {
    font-size: clamp(12px, 4vw, 32px);
    line-height: 1.7;
    padding-left: 2vw;
}



.footer {
    font-size: clamp(12px, 4vw, 28px);
    line-height: 1.7;
    background-color: #b4d4ed;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;

}

.footer_vk{
    display: flex;
    background-color: #b4d4ed;
    padding: 3vw 2vw;

}
  
.adress span {
    text-decoration: underline;

}

.schedule span {
    text-decoration: underline;

}

.copyright {
    padding: .5rem;
    background-color: #b4d4ed;
    text-align: right;
    font-size: clamp(6px, 4vw, 14px);
    flex-basis: 100%;
    text-align: center;
    padding: 10px;

}

.main__list {
    font-size: clamp(12px, 4vw, 32px);
    background-color: #D9EAF6;
    padding-bottom: 4vw;
 
}

.main__list li {
    padding-left: 7vw;
    list-style-type: none; 
    line-height: 2;  

}

.main__list p {
    text-align: center;
    padding: 4vw 4vw 4vw 4vw;
    font-size: clamp(12px, 4vw, 32px);
    text-decoration: underline;
}

.main__list a {
    text-decoration: none; 
    color: #015483;
}









